body {
	background-color: "#F00";
}


/* NAV BAR*/
.navbar{
    padding: 5px 30px 5px 30px !important;
    box-shadow: 0px -3px 11px #848484;
}
.nav-title{
	color: rgba(255, 120, 0, 0.9) !important;
    font-weight: 500;
}
/* CABECALHO */
.header-page{
	margin-top: 20px;
}

/* LISTAGEM CAMPANHAS */
.card-img-top{
	height: 150px;
}
/* GOOGLE MAPS */
#map {
    height: 319px;
}

.btn-orange{
    color: #fff;
    background-color: #ff8519;
    border-color: #ea8022;
}

.btn-orange:hover{
    color: #ffffff;
    text-decoration: underline;
    background-color: #dc7316;   
}